{% extends 'base.html' %}

{% block title %}Редактировать предмет{% endblock %}
{% block content %}
<section class="subjects">
    <h2 class="add-title">Редактировать предмет</h2>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="post">
    <input type="text" name="name" value="{{ subject.name }}" placeholder="Новое название предмета">
    <input type="text" name="tags" value="{{ tags }}" placeholder="Теги (через запятую)">
    <button type="submit">Сохранить</button>
  </form>
</section>
{% endblock %}